##Today we will begin our journey of exploring the Python Programming Language!

### Different ways of writing Python Code

1. Open a Google Colab or Kaggle Notebook, start typing your code, and run the cells.

2. Install Python, a text editor, and run the code in CMD/Power-shell.

3. Install an environment - like Anaconda, or Microsoft Visual Studio Code, code and run within it. 

4. Install Jupyter Notebooks only, write code and run the cells.

In [ ]:
!python --version

Python 3.7.15

### Basic Data Types: Strings, Constants, Boolean, Numbers

In [ ]:
# First Code Snippet to run!

print('Hello, World!')

Hello, World!

In [ ]:
#Define int
a = 1
type(a)

int

In [ ]:
#Define float
a = 1.5
type(a)

float

In [ ]:
#Define string
a ='Rockets'  # or "Rockets"
type(a)

str

In [ ]:
a = 'Rockets_21&@'
type(a)

str

In [ ]:
a = []       # List is highly flexible
type(a)

list

In [ ]:
a = [1,2,'S',1.2,'',0.1,[1,2],(1,2),{},0,1,2,3,4,5]       # 0,1,2,3,4,5
type(a)

list

In [ ]:
len(a)

15

In [ ]:
a.append(7)

In [ ]:
a

[1, 2, 'S', 1.2, '', 0.1, [1, 2], (1, 2), {}, 0, 1, 2, 3, 4, 5, 7]

In [ ]:
len(a)

16

Indexing.....

In [ ]:
a[15]

7

In [ ]:
b = (1,2,'S',1.2,'',0.1)
type(b)

tuple

In [ ]:
b.append(7)

AttributeError: ignored

In [ ]:
b[2]

'S'

In [ ]:
z = True   # True
type(z)

bool

In [ ]:
# Commenting Code and Variables

# Create a set of variables for storing my info.

my_name = 'Aditi'
my_dob = '13-09-1867'
my_height = 'five feets two inches'

# Create a set of variables for storing planet info.
# Get your planet info here: https://solarsystem.nasa.gov/planets/overview/

planet_name = 'Mars'
planet_age = '4.603 billion years old'
planet_index = 3                          # 0, 1, 2, 3

In [ ]:
# Can variable names start with a number? 

1_final = 'final_document.pdf' # apparently no.

SyntaxError: ignored

In [ ]:
19final = 'final_document.pdf'

SyntaxError: ignored

In [ ]:
final19 = 'final_document.pdf'

In [ ]:
_final = 'final_document.pdf'

In [ ]:
final_1 = 'final_document.pdf'

### White Spaces and Indentation

Python does not use `;` to separate lines of code. 

So propoer indentation is only ensured by providing white spaces.

In [ ]:
my_new_var = 3
 my_newer_var = 4         # error: unexpected indentation

IndentationError: ignored

In [ ]:
my_new_var = 3
my_newer_var = 4

In [ ]:
# Format Strings

print('There are 8 number of planets in our solar system.')

# print the same thing by using format strings for variables with different values
number_of_planets = 8
x = f'There are {number_of_planets} number of planets in our solar system.'
print(x)


number_of_planets = 5044
x = f'There are {number_of_planets} number of planets in all solar systems.'
print(x)

There are 8 number of planets in our solar system.
There are 8 number of planets in our solar system.
There are 5044 number of planets in all solar systems.

In [ ]:
# Another way of using format strings

my_planet = 'Jupiter'
biggest_planet = 'This is the name of the biggest planet? {}'

print(biggest_planet.format(my_planet))                             #????????????????????????

This is the name of the biggest planet? Jupiter

In [ ]:
# String Concatenation

w = 'Earth is the only planet with life'
e = 'may be not! :)'

print(w +'  '+e)                                                       #????????????????????????

Earth is the only planet with life  may be not! :)

In [ ]:

# use all CAPS in the variable name to remember it's a constant!

FILE_SIZE_LIMIT = 2000

#### Operators in Python

1. Arithmetic operators: `+, -, *, /, %, **, //`

2. Assignment operators: `=, +=, -=, *=, /=, %=, **=, //=, &=, |=, ^=, >>=, <<=`

3. Comparison operators: `==, !=, >, <, >=, <=`

4. Logical operators: `and, or, not`

5. Identity operators: `is, is not`

6. Membership operators: `in, not in`

7. Boolean Operators:   'False,True'

In [ ]:
a = 1
a += 2     # a = a+2
print(a)

3

In [ ]:
20 > 10

True

In [ ]:
print(20 > 10)
print('z' > 'g')

True
True

In [ ]:
is_active = False # True
print(is_active)

False

In [ ]:
print(bool(20))
print(bool(0))
print(bool(1))
print(bool('info'))
print(bool(''))

True
False
True
True
False

In [ ]:
# Bool On Advanced Data Structures in Python
print(bool({}))          # Dictionary                  #??????????????????????????
print(bool([]))          # List
print(bool(()))          # Tuples

False
False
False

Numbers - Integers and Floats

In [ ]:
print(20+10)  # 30
print(25/10)  # 2.5
print(21//10)  # 2   # Prime
print(21 % 10)   # Residual

print(20/3)
print(1+2.5)
print(1-2.5)
print(2.5-2.5)
print(2-2)

30
2.5
2
1
6.666666666666667
3.5
-1.5
0.0
0

#### Type Conversion

In [ ]:
# string to integers and floats

a = '30'
b = '25'

print(a + b)
print(int(a) + int(b))
print(float(a) + float(b))

3025
55
55.0

In [ ]:
b=2
e = b**2
print(e)

4

In [ ]:
# Logical Operators

x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [ ]:
x = 5

print(x > 6 or x < 10) 

print(not(x > 6))

True
True

In [ ]:
# Identity Operators

x = ["Artificial", "Intelligence"]
y = ["Artificial", "Intelligence"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [ ]:
# Membership Operators

x = ["pear", "plum"]

print("pineapple" in x)

print("plum" in x)

print("pineapple" not in x)

False
True
True

#### Getting Input from a User

In [ ]:
value = input('Enter a value:')

Enter a value:5

In [ ]:
value

'5'

In [ ]:
y = input("Name? ")
age = input("Age? ")
height = input("Height? ")
weight = input("Weight? ")

Name? saj
Age? 34
Height? 175
Weight? 96

#### Python Iterables

In [ ]:
flowers = ['tulip', 'rose', 'sage', 'lily', 'iris', 'daisy', 'orchid', 'jasmine', 'poppy', 'ivy', 'violet', 'holly', 'heather', 'yolanda']

for flower in flowers:
  print(flower)

tulip
rose
sage
lily
iris
daisy
orchid
jasmine
poppy
ivy
violet
holly
heather
yolanda

In [ ]:
flowers = ['tulip', 'rose', 'sage', 'lily', 'iris', 'daisy', 'orchid', 'jasmine', 'poppy', 'ivy', 'violet', 'holly', 'heather', 'yolanda']

for item in enumerate(flowers):              
  print(item)

# enumerate returns element with its index in tuple

(0, 'tulip')
(1, 'rose')
(2, 'sage')
(3, 'lily')
(4, 'iris')
(5, 'daisy')
(6, 'orchid')
(7, 'jasmine')
(8, 'poppy')
(9, 'ivy')
(10, 'violet')
(11, 'holly')
(12, 'heather')
(13, 'yolanda')

In [ ]:
# what is we want the index and the flower separately?

for index, flower in enumerate(flowers):
  print(f'{index }: {flower }')

0: tulip
1: rose
2: sage
3: lily
4: iris
5: daisy
6: orchid
7: jasmine
8: poppy
9: ivy
10: violet
11: holly
12: heather
13: yolanda

In [ ]:
# range function is an iterable

for idx in range(3):   #0,1,2
    print(idx)

0
1
2

In [ ]:
# every string is an iterable

my_favorite_language = 'my_favorite_language12'

for ch in my_favorite_language:                           
  print(ch)

m
y
_
f
a
v
o
r
i
t
e
_
l
a
n
g
u
a
g
e
1
2

In [ ]:
colors = ['red', 'green', 'blue']

colors_iter = iter(colors)                # Iter attribute is a token to allow iteration nature

first_color = next(colors_iter)                 # Every time, you call the next() function, it returns the next element in the iterable.
print(first_color)

second_color = next(colors_iter)
print(second_color)

third_color = next(colors_iter)
print(third_color)
                                         # Once you complete looping over an iterator, the iterator becomes empty. 
# cause an exception
color = next(colors_iter)                # If you iterate over it again, it’ll return nothing.
print(color)

red
green
blue

StopIteration: ignored

Since you can iterate over an iterator, the iterator is also an iterable object.

### Dictionary Data Structure

In [ ]:
empty_dict = {}

In [ ]:
planet_info = {
    'name' : 'Jupiter',
    'number_of_moons' : 79,
    'number_in_solar_system' : 'fifth',
    'life_support' : 'some moons have oceans with water',
    'others' : 'gas_giant, biggest_planet, eternal_storms'
}

In [ ]:
planet_info['number_of_moons']

79

In [ ]:
planet_info['life_support']

'some moons have oceans with water'

In [ ]:
# we can change values 

planet_info['life_support'] = 'Nothing concrete we know of so far'

In [ ]:
planet_info

{'name': 'Jupiter',
 'number_of_moons': 79,
 'number_in_solar_system': 'fifth',
 'life_support': 'Nothing concrete we know of so far',
 'others': 'gas_giant, biggest_planet, eternal_storms'}

In [ ]:
# We cannot change keys..But can add new key,value pair

planet_info['Asteroid_belt'] = 'Yes'
planet_info

{'name': 'Jupiter',
 'number_of_moons': 79,
 'number_in_solar_system': 'fifth',
 'life_support': 'Nothing concrete we know of so far',
 'others': 'gas_giant, biggest_planet, eternal_storms',
 'Asteroid_belt': 'Yes'}

In [ ]:
del planet_info['Asteroid_belt']

In [ ]:

planet_info

{'name': 'Jupiter',
 'number_of_moons': 79,
 'number_in_solar_system': 'fifth',
 'life_support': 'Nothing concrete we know of so far',
 'others': 'gas_giant, biggest_planet, eternal_storms'}

In [ ]:
moons = planet_info.get('number_of_moons')
moons

79

In [ ]:
order = planet_info.get('number_in_solar_system')
order                                              #????????????

'fifth'

In [ ]:
# looping through a dictionary

for key, value in planet_info.items():
    print(f"{key}: {value}")

name: Jupiter
number_of_moons: 79
number_in_solar_system: fifth
life_support: Nothing concrete we know of so far
others: gas_giant, biggest_planet, eternal_storms

In [ ]:
for key in planet_info.keys():                   # only display keys
    print(key)

name
number_of_moons
number_in_solar_system
life_support
others

In [ ]:
for key in planet_info:
  print(key)

name
number_of_moons
number_in_solar_system
life_support
others

In [ ]:
for i in planet_info.values():                # only display values
    print(i)

Jupiter
79
fifth
Nothing concrete we know of so far
gas_giant, biggest_planet, eternal_storms

In [ ]:
for key in planet_info:                         # Wrong 
  print(key)

name
number_of_moons
number_in_solar_system
life_support
others

In [ ]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

In [ ]:
new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

## Time for some quick questions! Are you ready?

**Q1.** *What will be the output for the following code,*         
```
a = input("Enter the value for a:- ")            
b = input("Enter the value for b:- ")               
print(a + b)
```                     

*Assume that user will input a as 1 and b as 9*

**A)** 10         
**B)** 19       
**C)** 1+9          
**D)** Syntax Error

In [ ]:
a = input("Enter the value for a:-")

Enter the value for a:-1

In [ ]:
b = input("Enter the value for b:-")

Enter the value for b:-9

In [ ]:
type(a)

str

In [ ]:
type(b)

str

In [ ]:
print(a + b)                # Answer is 19 since type(a) and type(b) is string...

19

**Q2.** *Write a code with membership operator to check if "Astrophysics" is present in the `interest` list mentioned below,*

`interest = ["Astronomy", "Astrophysics", "Deep Learning", "Football"]`

In [ ]:
interest = ['Astronomy', 'Astrophysics', 'Deep Learning', 'Football']

print('Astrophysics' in interest)

True

**Q3.** *We looked at % operator a while ago. What would a % b mean?*    

**A)** It divides a by b and converts the answer into percentage  
**B)** It yields the reaminder from the division of a by b     
**C)** It rounds off a upto b decimal places           
**D)** It compares a with b as in which value is bigger

In [ ]:
33 % 3       # Answer is B

0

**Q4.** *Write a code using `%` and `==` operators to check if 2 and 3 are even and odd numbers respectively*

In [ ]:
print(2 % 2 == 0)   # it is even

True

In [ ]:
print(3 % 2 == 0 )  # It is odd

False

**Q5.** *How many mistakes can you spot in the following code?*        



```
a, b, c = 2, 4, 1                
D = b^2 - 4ac                   
 print(f"For a = {a}, b = {b}, and c = {c}, \nDiscriminant = {D}")
```

       

*Can you fix these errors? Code it out:- *

In [ ]:
a, b, c = 2, 4, 1 

D = b ** 2 - 4 * a * c 

print(f'For a = {a}, b = {b}, and c = {c}, \n Discriminant = {D}')

For a = 2, b = 4, and c = 1,
 Discriminant = 8